.benefits
    background-color color-grey
    color white
    padding-bottom 70px

    &__title
        padding-top 100px

        &_big
          font-size 40px
          height 44px
          text-transform uppercase

        &_text
            display block
            padding-top 16px
            font-size 20px
            line-height 28px
            padding-bottom 40px

    &__images
        padding-top 50px
        padding-bottom 26px