.row
    clear both
    margin-left -20px !important
    margin-right -20px !important
.row:after
    clear both
    display table
    content " "

.column
    padding-left 20px
    padding-right 20px
    float left

.block-left
    display block
    float left

.col
    padding-left 20px
    padding-right 20px
    float left

    &__1
        width 124px

    &__2
        width 288px

    &__3
        width 432px

    &__4
        width 576px

    &__5
        width 720px

    &__6
        width 864px

    &__offset-1
            margin-left 124px

.buffer-h-15
    margin 0 15px

.buffer-v-15
    margin-top 15px
    margin-bottom 15px

.text-12
    font-size 12px
    line-height 18px

.text-14
    font-size 14px
    line-height 22px

.text-16
    font-size 16px
    line-height 22px

.text-18
    font-size 18px
    line-height 24px

.text-20
    font-size 20px
    line-height 26px

.text-30
    font-size 30px
    line-height 36px

.upper
    text-transform uppercase