.collapse
    height 0
    overflow hidden
    transition .5s cubic-bezier(0, 1, 0.5, 1)
    transform translateY(-100%)

.collapse.in
    height auto
    overflow visible
    transform translateY(0)
    transition .5s cubic-bezier(0, 1, 0.5, 1)



