.illustration
    padding-top 30px

    &__content img
        width 100%
        height auto


    &__content

        vertical-align middle
        clear both

        &_text
            line-height 26px

        &_title
            padding-bottom 0px
            line-height: 12px;