.link

    &__toggler
        font-size 12px
        color #b05f30
        text-decoration underline
        display inline-block
        padding-bottom 5px

    &__email
        color #fb6810
        font-size inherit
        text-decoration underline

