.partners
  text-align center
  color #20242d

  &_items
      margin-top 70px
      margin-bottom 100px

  &_items span
      margin 0 16px

  &_items .row
      margin 30px -16px

  .upper
    line-height: 22px;