color-grey = #20242d
section.partners
  text-align center

section.benefits
    background-color color-grey
    color white
    text-align center

.section__offset
    padding-top 50px

.section__bottom-buffer
  padding-bottom 50px

